/*-----WEBSITE TITLE----*/

.mb-1 {
    color: #f5d011;
}
/*-----COLORS---*/
.light-red {
     color: #f28686;
}
/*----SECTION HEADING----*/

.section-heading {
    height: 85px;
    box-shadow: -5px -8px 28px 8px rgba(138, 72, 224, 1);
}

.section-heading-light-red {
    color: #371ff4;
    background-color: #f28686;
}

.section-heading-red {
    color: whitesmoke;
    background-color: #ea454f;
}

.section-heading-purple{
    color: darkred;
}

/*-------BACKGROUNDS----*/

.background-mypage {
    background-color: #affc8e40;
    border-radius: 50%;
}

/*------TEXT-----*/

.text-middle {
    padding-top: 22px;
    margin-bottom: 0px;
}

.text-center-title {
    text-shadow: 3px 2px #22232545;
    padding: 22px;
}

.span-text {
    font-weight: 700;
}

/*---Under line---*/

.text-under-line {
    text-decoration: underline wavy;
    color: #2623be;
}


/*-----USER----*/

.username-color {
    color: #f5d011 !important;
}

/*-----IMAGES-----*/

.img-container {
    background-image: url({{recipe['image']}});
    background-size: cover;
    padding-top: 60%;
    border: 5px inset #ffc103e0;
    border-radius: 50px;
    margin: 2%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border: 30px groove #cb46467a;
    border-radius: 25%;
}

/*--------FORM----*/

.form-row {
    text-align: center;
}

.form-group {
    text-align: center;
    padding-top: 15px;
}

.form-control-search {
    color: #212529;
    background-color: #f3df5f70;
    border: 1px solid #a731e6;
}

.custom-select {
    margin-left: 0px;
}


/*-------- RECIPE CARDS---*/

.border-card {
    background-color: rgb(180, 179, 182);
    border: 2px solid #b7b9ba;
    border-radius: 10px;
    box-shadow: 42px 73px 132px -10px rgba(138, 129, 150, 1);
    margin-left: .5%;
    margin-right: .5%;
}

.recipes-bottom {
    margin-bottom: 70px;
}

.mt-4 {
    margin-left: 5%;
    margin-right: 5%;
}

.mt-5 {
    margin-left: 10%;
    margin-right: 10%;
}

/*----Giving some spaces to the bottom and sides for making nice view to the user---*/

.bottom-page {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
}

.card-sides {
    margin-bottom: 15px;
    margin-top: 15px;
}

.center-text-mypage {
    padding-top: 20%;
}
/*-------RECIPES----*/

.instructions-list-item {
    display: list-item;
}

.ingredients-list-item {
    border: none;
    margin: 0px;
    padding: .55rem .75rem;
}

.list-group-item {
    border-color: transparent;
}

/*------------MEDIA---*/

/*phones*/

@media (max-width: 767px) {
    header {
        margin-right: auto;
        width: 100%;
        height: 100%;
    }
    body {
        height: 90%;
        width: 100%;
    }
    .center-text-mypage {
        padding-top: 20%;
    }
    
    .background-mypage {
        background-color: #fff;
    }
}

/*phones and tablets*/

@media (min-width: 668px) and (max-width: 1023px) {
    header {
        width: auto;
        height: 100%;
    }
    body {
        height: 90%;
        width: 100%;
    }
    .margin-row{
        margin-right: 0;
    }
    .border-row{
        padding-left: 15%;
    }
    .center-text-mypage {
        padding-top: 0px;
    }

    .background-mypage {
        background-color: #fff;
    }
}
