{% extends 'base.html' %} {% block content %}
 

  <!-- Header -->
  <header class="masthead d-flex" style="background-image: url('../static/img/saraS.jpg')">
    <div class="container text-center my-auto">
      <h1 class="mb-1">MY COOKBOOK</h1>
      {% if session['user']%}
          <span><a class="btn btn-primary btn-xl js-scroll-trigger" href="{{url_for('myrecipes')}}"><i class="fas fa-book"></i>  My recipes</a></span>
          {%else%}
          <span><a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ url_for('sign_in') }}">Login/Register</a></span> 
          {%endif%}
    </div>
    <div class="overlay"></div>
  </header>

{% endblock %}
